*{
    font-family: system-ui;
}
body {
    margin: 0px;
    padding: 0px 464px;
}
h1{
    background-color: pink;
    font-size: 45px;
    margin: 0px 0px 24px 0px;
    text-align: center;
}
h4{
    position: sticky;
    top: 1px;
    background-color: #B8C1C8;
    padding-left: 20px;
    font-size: 47px;
    margin: 0px;
}
p{
    padding-left: 20px;
}